@mixin  d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@mixin  title-primary {
    font-size: 6rem;
    color: $color-primary-dark;
    font-weight: 600;
}

@mixin text-primary {
    padding: 4rem 0 5rem;
    font-size: 2.3rem;
    color: $color-primary-dark;
    hyphens: auto;
}


@mixin texture-position {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow:hidden;
}

@mixin  center-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}