.popular {
    
    .row {
        justify-content: space-around;
        z-index: 100;
    }
    
    &__cards {
        
        @include texture-position;

        padding: 7.2rem 0 9.6rem;
        background-color: $color-primary-dark;
    }

    &__card {
        // padding: 1rem 0  2rem;
        color: $color-white;
        text-align: center;
        transition: all .3s;
        z-index: 200;

        &:hover {
            transform: scale(1.2);
            // background-color: $color-primary;
            // color: $color-primary-dark;
        }

    }

    &__img{
        height: 19.2rem;
        margin-bottom: 2.2rem;
    }


    &__title {
        margin-bottom: 2.2rem;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 600;
    }

    &__text {
        font-size: 1.6rem;

    }

    
    &__infor {
        @include texture-position;
        padding: 15.2rem 11.6rem;
        background-color: $color-primary;



        .texture {
            &__circle--1{
                top: 11.04rem;
                left: 6.8rem;
            
            }
            &__circle--2 {
                top: unset;
                bottom: 5.4rem;
                right: -5rem;
            }
            &__dot {
                left: unset;
                right: 2.5rem;
                top: 2rem;
            }
            &__ver {
                bottom: 4rem;
                left: 3.2rem;
                transform: rotate(0deg) translate(50% , 50%);
            }
            &__wave--1 {
                top: 10rem;
                left: 58%;
                transform: translateX(-50%);
            }
        }

    }

    &__main {
        display: flex;
        align-items: center;
    }

    &__thumb {
        height: 37.36rem;
        margin-right: 12.96rem;
    }
    &__title--primary{
       @include title-primary;
        
    }
    &__text--primary{
      @include text-primary;
    }


}




